<footer>
  <div class="container">
  <p><b>hold the space</b></p>
    <p>
      a podcast about creative practice and teaching
    </p>
    <p>
      This page was generated on {{ site.buildTime | dateDisplay('LLL d, yyyy - HH:mm') }}
    </p>
  </div>
</footer>
